-i https://pypi.org/simple/
asgiref==3.2.7
django==3.0.7
gevent==1.4.0
greenlet==0.4.16 ; platform_python_implementation == 'CPython'
gunicorn==20.0.4
psycopg2-binary==2.8.4
pytz==2020.1
sqlparse==0.3.1
